<button class="nav-btn" type="button" class="btn active" data-bs-toggle="button" aria-pressed="true" (click)="toggleLogin()">
  <!-- <a
    routerLink="/signup-login"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Log in</a
  > -->
  Log in 
</button>
<div [hidden]="loginDiv">
  <form
    [formGroup]="userLoginInfo"
    (ngSubmit)="loginOnSubmit()"
    #loginForm="ngForm"
  >
    <br />
    <input
      type="text"
      placeholder="username"
      id="username-login"
      formControlName="username"
      required
    />
    <br />
    <input
      type="password"
      id="password-login"
      placeholder="password"
      formControlName="password"
      required
    />
    <br />
    <button
      type="submit"
      class="btn btn-light"
      [disabled]="!loginForm.form.valid"
    >
      log in
    </button>
  </form>
</div>
