<div class="current-form-div" [hidden]="submitted">
  current form
  <div>
    <form (ngSubmit)="onSubmit()" #currentWeatherForm="ngForm">
      <label for="location"> <h3>Enter Location</h3> </label>
      <br />
      <input
        id="location"
        type="text"
        name="location"
        [(ngModel)]="location"
        required
      />
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!currentWeatherForm.form.valid"
        (click)="!submitted"
      >
        submit
      </button>
    </form>
    </div>
</div>

<div class="current-data-display-div" [hidden]="!submitted">
  <h1>Current Data</h1>
  <h3>{{location}}--city--</h3>
  <h3>Description: --description--</h3>
  <h3>Temperature: --temperature--</h3>
  <h3>Feels Like: --feelsLike--</h3>
  <h3>Rain: --rain--</h3>
  <h3>Snow: --snow--</h3>
  <h3>Wind Speed: --windSpeed--</h3>

  <button
        type="submit"
        class="btn btn-success"
        [disabled]="!currentWeatherForm.form.valid"
        (click)="submitted = false"
      >
        clear
      </button>
</div>
