<div class="current-form-div" [hidden]="submitted">
  <h3 class="current-title">Current Weather</h3>

    <form
      (ngSubmit)="onSubmit(); getCurrentConditions(inputCity.value)"
      class="current-form"
      #currentWeatherForm="ngForm"
    >
      <br />
      <input
        id="location"
        type="text"
        name="location"
        placeholder="enter a city"
        [(ngModel)]="location"
        required
        #inputCity
      />
      <button
        type="submit"
        class="submit-current-info-btn"
        class="btn btn-success"
        class="btn btn-light"
        [disabled]="!currentWeatherForm.form.valid"
        (click)="(!submitted)"
      >
        submit
      </button>
    </form>
</div>
<!-- <button (click)="testLatLon()">test lat lon</button> -->

<div
  *ngIf="currentConditionsData[0]"
  class="current-data-display-div"
  [hidden]="!submitted"
>
<div class="current-dipslayed-data-div">
  <h4>
   {{ currentConditionsData[0].name }},{{
      currentConditionsData[0].sys.country
    }}
  </h4>
  <br>
  <h3>{{ currentConditionsData[0].main.temp.toFixed(0) }}°F</h3>
  <br>
  <h6>Description: {{ currentConditionsData[0].weather[0].description }}</h6>
  <h6>
    Feels Like: {{ currentConditionsData[0].main.feels_like.toFixed(0) }}°F
  </h6>
  <!-- <h3 *ngIfElse="currentConditionsData.rain['1h']; else unavailable_data">Rain: {{currentConditionsData.rain['1h']}}</h3>
  <h3 *ngIfElse="currentConditionsData.snow['1h']; else unavailable_data">Snow: {{currentConditionsData.snow['1h'] || 'unavailable'}}</h3>
  <ng-template #unavailable_data>Snow: unavailable</ng-template> 
  <h3>Rain: {{currentConditionsData.rain['1h'] || 0}}"</h3>
  <h3>Snow: {{currentConditionsData.snow['1h'] || 0}}"</h3>
  <h3>Wind Speed: {{currentConditionsData[0].wind.speed.toFixed(0)}}mp/h</h3>  -->

</div>
<button type="button" class="btn btn-light" (click)="submitted = false">clear</button>
</div>