<div class="comments-div">
<h5 class="comments-title">Comments</h5>
<!-- if user = show add comment
    if no user show sign up/login to add a comment
-->
<div class="displayed-comments-div">
  <ul *ngIf="comments.length > 0" class="comments-list">
    <li *ngFor="let comment of comments" class="displayed-comment">
      {{ comment.text }}
      <!-- <span>By: {{comment.UserId}}</span> -->
      <br />
      <div>
      <button
      type="button"
      class="btn btn-light"
      style="
          --bs-btn-padding-y: 0.25rem;
          --bs-btn-padding-x: 0.5rem;
          --bs-btn-font-size: 0.75rem;
        "
      >
      edit
    </button>
    <button
    type="button"
    class="btn btn-light"
    style="
          --bs-btn-padding-y: 0.25rem;
          --bs-btn-padding-x: 0.5rem;
          --bs-btn-font-size: 0.75rem;
        "
      >
      delete
    </button>
  </div>
  </li>
</ul>
</div>
<div class="add-comment-div">
  <input
  #addCommentForm="ngForm"
    type="text"
    id="add-comment-input"
    placeholder="comment here"
    [formControl]="text"
    required
  />
  <button
    type="submit"
    class="btn btn-light"
        style="
          --bs-btn-padding-y: 0.25rem;
          --bs-btn-padding-x: 0.5rem;
          --bs-btn-font-size: 0.75rem;
        "
    [disabled]="!addCommentForm.form.valid"
    (click)="addComment()"
  >
    add comment
  </button>
</div>
</div>