<div class="div-to-sign-login" [hidden]="loggedInUserInfo">
  <button type="button" (click)="toggleSignUp()">
    <!-- <a
      routerLink="/signup-login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Sign Up</a
    > -->
    Sign Up
  </button>

  <div [hidden]="signUpDiv">
    <form
      [formGroup]="userSignUpInfo"
      (ngSubmit)="signUpOnSubmit()"
      #signUpForm="ngForm"
    >
      <label for="username-signup">Username</label>
      <br />
      <input
        type="text"
        id="username-signup"
        [formControl]="username"
        required
      />
      <br />
      <button type="button">test clear</button>
      <label for="email-signup">Email</label>
      <br />
      <input type="email" id="email-signup" [formControl]="email" required />
      <br />
      <label for="password-signup">Password</label>
      <br />
      <input
        type="password"
        id="password-signup"
        [formControl]="password"
        required
      />
      <!-- disabled binding attached to it to disable the button when profileForm is invalid -->
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!signUpForm.valid"
      >
        Submit
      </button>
    </form>
    <!-- <h1>
    <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page"
      >return to home page</a
    >
  </h1> -->
  </div>

  <app-login-form></app-login-form>

  <div class="div-profile" [hidden]="!loggedInUserInfo">
    <app-user-profile></app-user-profile>
  </div>
</div>
