<div class="div-to-sign-login" [hidden]="loggedInUserInfo" >
  <button class="nav-btn" type="button" class="btn active" data-bs-toggle="button" aria-pressed="true" (click)="toggleSignUp()">
    <!-- <a
      routerLink="/signup-login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Sign Up</a
    > -->
    Sign Up
  </button>

  <div [hidden]="signUpDiv">
    <form
      [formGroup]="userSignUpInfo"
      (ngSubmit)="signUpOnSubmit()"
      #signUpForm="ngForm"
    >
      <br />
      <input
        type="text"
        placeholder="username"
        id="username-signup"
        [formControl]="username"
        required
      />
      <br />
      <!-- <button type="button">test clear</button> -->
      <input type="email" placeholder="email" id="email-signup" [formControl]="email" required />
      <br />
      <input
        type="password"
        placeholder="password"
        id="password-signup"
        [formControl]="password"
        required
      />
      <!-- disabled binding attached to it to disable the button when profileForm is invalid -->
      <button
        type="submit"
        class="btn btn-light"
        [disabled]="!signUpForm.valid"
      >
        sign up
      </button>
    </form>
    <!-- <h1>
    <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page"
      >return to home page</a
    >
  </h1> -->
  </div>

  <app-login-form></app-login-form>

  <div class="div-profile" [hidden]="!loggedInUserInfo">
    <app-user-profile></app-user-profile>
  </div>
</div>
