<header class="header">
  <h1 ><a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">{{ title }}</a></h1>
    <app-header></app-header>
  </header>
  <nav>
    <div class="signup-login-div">
      <app-signup-login-form></app-signup-login-form>
    </div>
  </nav>
  <main class="main">
    <div class="weather-info">
      <div class="left-current">
        <h2>Current Weather</h2>
        <app-current-weather ></app-current-weather>
      </div>
      <div class="right-past">
        <h2>Past Weather</h2>
        <app-past-weather ></app-past-weather>
      </div>
    </div>
    <div class="comments">
      <app-user-comments></app-user-comments>
    </div>
  </main>
  <footer class="footer">
      <app-footer></app-footer>
  </footer>